<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataMiningApp" value="RaceTrackerConsole"/>
    <add key="DataHeaders" value="Going,Surface,Race Type,Age,Rated,Prize,Distance,Racetrack,Date,Time,Position,Draw,Horse Name,Horse Age,Horse Weight,ISP,Expectation"/> <!--Expected headers in data file-->
  </appSettings>
</configuration>